block content
  form(id="add-task-form", method='POST', action='/tasks/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Description:
      textarea.form-control(name='body')
