extends layout

block content
  div.row
    h3(id="month")
    div.col-lg-6
      div(id="calendar")
    div.col-lg-6
      div.row
        div.col-lg-8
          h2(style="margin:0;") My activities
        if user
          div.col-lg-4(align="right")
            a(id="add-btn").btn.btn-default
              span.glyphicon.glyphicon-plus
      ul.list-group
        each task, i in tasks
          li.list-group-item
            if user
              input(type='checkbox')
            a(href='/tasks/'+task._id)= task.title

  div.modal(id="add-modal")
    div.modal-dialog(role="document", aria-hidden="true")
      div.modal-content
        div.modal-header
          //- h5.modal-title Add Task
          button.close(data-dismiss="modal" aria-label="Close")
        div.modal-body
          include add_task.pug
        div.modal-footer
          button.btn.btn-primary(id="add-btn-modal") Add
          button.btn.btn-secondary(data-dismiss="modal") Close
