doctype html
html
  head
    title Debbie
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/zabuto_calendar.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Pacifico')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/bower_components/components-font-awesome/css/font-awesome.min.css')
  body
  .container
    block content
      
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='/js/zabuto_calendar.js')
  script(type='text/javascript').
    var user =!{JSON.stringify(user)};
  script(src='/js/main.js')
