extends layout

block content
  div.container
    div.row
      div.col-lg-5.col-md-5.col-sm-12.col-xs-12
        div.row
          div.col-lg-12
            h3.brand.text-center debbie
        div.row
          div.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12
            form(method='POST', action='/users/login')
              div.input-group
                div.input-group-addon.icon
                  i.fa.fa-user
                input.form-control(name='username', type='text', placeholder='Username')
              div.input-group
                div.input-group-addon.icon
                  i.fa.fa-lock
                input.form-control(name='password', type='password', placeholder='Password')
              br
              input.btn.btn-default(type='submit', value='LOGIN')
            p.text-center.register Don't have an account? 
              a(href='/users/register') Sign up here.
      div.col-lg-7.col-md-7
        div.row
          div.col-lg-12.col-md-12
            div.bg
              div.caption
                h1 Manage your work with debbie.
                ul
                  li Create tasks
                  li Assign due dates
                  li Enhance your productivity
